:root {
    --fa-display: flex;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100px;
    margin: 0;
}

body {
    font-family:  Arial, sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    flex-flow: column;
    color: #eff4ff;
    font-size: 0.15rem;
}

body *:not(script):not(style) {
    display: flex;
}

#backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    object-fit: cover;
    filter: brightness(60%);
}

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    justify-content: center;
    background: #000c;
}
.header > .content {
    width: 100vw;
    max-width: 1000px;
    flex-flow: column;
}

#navbar {
    width: 100vw;
    max-width: 1000px;
    min-height: 0.5rem;
}

.navlogo {
    color: #fff9;
    line-height: 0.24rem;
    font-size: 0.24rem;
    font-weight: bolder;
    flex: 1;
    align-items: center;
}
.navtab > * {
    margin: 0 0.1rem;
    color: #888;
    align-items: center;
    font-weight: 900;
    text-decoration: none;
	display: flex;
}
.navtab > *:before {
    margin-right: 0.03rem;
}
.navtab > *[selected] {
    color: #fffd;
}
.navtab > *:hover {
    color: #2889ff;
}

#destbar {
    margin-bottom: 0.1rem;
}
#destbar > div:not([class]) {
    flex: 1;
}
#destbar > .dests {
    width: 6rem;
    max-width: 100vw;
    flex: none;
    flex-flow: row wrap;
    align-content: flex-start;
}
.dests > .flag-icon {
    margin: 0.02rem 0;
    padding: 0 0.05rem;
    flex: 0 0 25%;
    color: #aaa;
    cursor: pointer;
}
.dests > .flag-icon:hover {
    background: #fff4;
}
.flag-icon img {
    margin-right: 0.2em;
    width: 1.33333333em;
}
